<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--The binding configuration name is hard string in the code, please don't change the name.-->
        <binding name="ES1ArchiveBasicHttpBinding" 
                 maxReceivedMessageSize="1073741824" maxBufferPoolSize="1073741824" maxBufferSize="1073741824" 
                 transferMode="StreamedResponse" messageEncoding="Mtom">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="Ntlm" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

        <!--The binding configuration name is hard string in the code, please don't change the name.-->
        <binding name="ES1ArchiveHttpsBinding" 
                 maxReceivedMessageSize="1073741824" maxBufferPoolSize="1073741824" maxBufferSize="1073741824" 
                 transferMode="StreamedResponse" messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="Ntlm" proxyCredentialType="Ntlm" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>

      <netTcpBinding>
        <!--The binding configuration name is hard string in the code, please don't change the name.-->
        <binding name="ES1ArchiveNetTcpBinding" maxReceivedMessageSize="2097151000" maxBufferSize="2097151000" transferMode="StreamedResponse">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <appSettings>
    <add key="alwaysVisibleContentTypes" value="0x010108|0x0102"/>
    <add key="maskedContentTypes" value="Link to a Document|0x010104|0x010101|0x010105|0x010109|0x01010901|0x01010A|0x01010B"/>
  </appSettings>
</configuration>
