<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Log File Path -->
    <add key="LogPath" value="C:\S1ValidationServiceLog" />
    <!-- Server Config -->
    <add key="ServerName" value="SocketServer" />
    <add key="TcpPort" value="5000" />
    <add key="ListenAddress" value="" />
  </appSettings>
</configuration>