<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--The binding configuration name is hard string in the code, please don't change the name.-->
        <binding name="ES1ArchiveBasicHttpBinding" openTimeout="00:10:00"
          receiveTimeout="00:20:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="2097151000" maxBufferSize="2097151000" transferMode="StreamedResponse" messageEncoding="Mtom">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>

        <!--The binding configuration name is hard string in the code, please don't change the name.-->
        <binding name="ES1ArchiveHttpsBinding" openTimeout="00:10:00"
          receiveTimeout="00:20:00" sendTimeout="00:10:00"
          maxReceivedMessageSize="2097151000" maxBufferSize="2097151000" transferMode="StreamedResponse" messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="Ntlm" proxyCredentialType="None" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>

      <netTcpBinding>
        <!--The binding configuration name is hard string in the code, please don't change the name.-->
        <binding name="ES1ArchiveNetTcpBinding" openTimeout="00:10:00"
          receiveTimeout="00:20:00" sendTimeout="00:10:00" 
          maxReceivedMessageSize="2097151000" maxBufferSize="2097151000" transferMode="StreamedResponse">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <appSettings>
    <add key="SharePointLocation" value="Local" />
  </appSettings>
</configuration>