<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true"
  defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
		<listeners>
			<add fileName="C:\Program Files (x86)\EMC SourceOne\Logs\SharePointJBS.ArchiveClientMessage.log" footer="----------------------------------------"
			  formatter="SimpleFormatter" header="" rollFileExistsBehavior="Increment"
			  rollInterval="None" rollSizeKB="1024" timeStampPattern="yyyy-MM-dd"
			  listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  traceOutputOptions="None" filter="Warning" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="ArchiveClientMessage" />
		</listeners>
		<formatters>
			<add template="Timestamp: {timestamp} &#xD;&#xA;Title: {title}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category} &#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid} &#xD;&#xA;Severity: {severity}&#xD;&#xA;Thread Id: {win32ThreadId} Thread Name: {threadName}"
			  type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="SimpleFormatter" />
		</formatters>
		<logFilters>
			<add minimumPriority="1" maximumPriority="10" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  name="Priority Filter" />
		</logFilters>
		<categorySources>
			<add switchValue="All" name="ES1SharePointArchivingClient">
				<listeners>
					<add name="ArchiveClientMessage" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="Warning" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category">
				<listeners>
					<add name="ArchiveClientMessage" />
				</listeners>
			</notProcessed>
			<errors switchValue="Warning" name="Logging Errors &amp; Warnings">
				<listeners>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>

</configuration>