<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Client Settings -->
    <add key="client_RequestServiceVersion" value="1.1.0.0"/>

    <!-- Validation Windows Service Installation Configuration -->
    <add key="service_sourceInstallPath" value="S1ValidationWinService" />
    <add key="service_targetDefaultUsername" value="qaes1\administrator" />
    <add key="service_targetDefaultPassword" value="emcsiax@QA" />
    <add key="service_targetInstallPath" value="C:\" />

    <!-- Validation Configuration -->
    <add key="verify_defaultVersion" value="7.2.2.2028" />
    <add key="verify_defaultSqlServerUsername" value="sa" />
    <add key="verify_defaultSqlServerPassword" value="emcsiax@QA" />
    
    <!-- Copy file Configuration -->
    <add key="copy_sourceDefaultPath" value="\\10.37.11.119\SourceOne Release Builds" />
    <add key="copy_targetDefaultUsername" value="qaes1\administrator" />
    <add key="copy_targetDefaultPassword" value="emcsiax@QA" />
    <add key="copy_targetDefaultPath" value="\\{0}\C$" />
  </appSettings>
</configuration>