<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- max num to query for domain objects -->
    <add key="maxMailboxQuery" value="200"/>
    <!-- specify how many receivers in one mail -->
    <add key="receiversCount" value="1"/>
    <!-- the chance of attachment attached in a mail-->
    <add key="attachmentChance" value="100"/>
    <!-- suffix string of a mail subject -->
    <add key="subjectSuffix" value="[Smtp Mail Sender V1.0]"/>
    <!-- max threads threshold to send mails -->
    <add key="maxThreadsThreshold" value="10"/>
  </appSettings>
</configuration>