<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!--<add key="configName" value="RBSBVT EVN." />
      <add key="configLibName" value="RBSBVT Clean EVN." />
      <add key="username" value="liut3" />
      <add key="password" value="password" />
      <add key="organizationname" value="AXQA-AUTO" />
      <add key="workspacename" value="ES1 auto test" />-->
      <add key="configName" value="SPO Auto Lib" />
      <add key="configLibName" value="SPO Auto Lib" />
      <add key="username" value="tengk" />
      <add key="password" value="password" />
      <add key="organizationname" value="AXQA-AUTO" />
      <add key="workspacename" value="ES1 auto test" />
    </appSettings>    
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LabManager SOAP interfaceSoap" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="Transport">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="LabManager SOAP interfaceSoap1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://chnservices-lm.dctmlabs.com/LabManager/SOAP/LabManager.asmx"
                binding="basicHttpBinding" bindingConfiguration="LabManager SOAP interfaceSoap"
                contract="LabManager.LabManagerSOAPinterfaceSoap" name="LabManager SOAP interfaceSoap" />
        </client>
    </system.serviceModel>
</configuration>